<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Milling Data</h1>

    <div class="btn-toolbar mb-2 mb-md 0">
        <div class="btn-group me-2">
            <button class = "btn btn-sm btn-outline-secondary">?</a>
        </div>
    </div>
</div>


<div class="col py-3">

    <div class="row">
        <div class="col">
            <nav aria-label = "breadcrumb">
                <ol class = "breadcrumb">
                    <li class="breadcrumb-item"><a href = "/">Milling  Details</a></li>
                    <li class = "breadcrumb-item active">New Data</li>
                </ol>
            </nav>
        </div>
        <div class="col text-end fw-lighter">
            <b>UserID</b>
        </div>
        
    </div>
</div>

<form action = "/milling/add" method = "POST">
    <input type="hidden" name="experimentId" value="<%= experimentId %>">

    <div class="row form-group mb-4">
        <div class = "col">
            <label  for="dateMilling"> Date of Milling</label>
            <input type="date" class = "form-control" name = "dateMilling" value = "" placeholder = "Date of Milling" required>
        </div>

        <div class = "col">
            <label  for="gridBox"> Grid Box</label>
            <input type="text" class = "form-control" name = "gridBox" value = "" placeholder = "Grid Box" required>
        </div>

    <div class="row form-group mb-4">
        <div class = "col">
            <label  for="sem_filename"> SEM File Name</label>
            <input type="text" class = "form-control" name = "sem_filename" value = "" placeholder = "SEM File Name" required>
        </div>

    <div class="row form-group mb-4">
        <div class = "col">
            <label  for="maps_filename"> MAPS File Name</label>
            <input type="text" class = "form-control" name = "maps_filename" value = "" placeholder = "MAPS File Name" required>
        </div>

        <div class = "col">
            <label  for="lamellae"> No of Lamellae</label>
            <input type="number" class = "form-control" name = "lamellae" value = "" placeholder = "No of Lamellae" required>
        </div>
        
    
    <div class="form-group mb-4">
        <label for="details"> SEM Notes</label>
        <textarea class="form-control" name = "details" id="details" cols = "30" rows = "12" placeholder = "SEM Notes"></textarea>
    </div>

    <div class="form-group mb-4">
        <button type="submit" class = "btn btn-primary"> Add Milling Details</button>
    </div>
   


</form>