<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Experiment</h1>

    <div class="btn-toolbar mb-2 mb-md 0">
        <div class="btn-group me-2">
            <button class = "btn btn-sm btn-outline-secondary">?</a>
        </div>
    </div>
</div>


<div class="col py-3">

    <div class="row">
        <div class="col">
            <nav aria-label = "breadcrumb">
                <ol class = "breadcrumb">
                    <li class="breadcrumb-item"><a href = "/">Dashboard</a></li>
                    <li class = "breadcrumb-item active">New Experiment</li>
                </ol>
            </nav>
        </div>
        <div class="col text-end fw-lighter">
            <b>UserID</b>
        </div>
        
    </div>
</div>

<form action = "/add" method = "POST">

    <div class="row form-group mb-4">
        <div class = "col">
            <label  for="initials"> Initials</label>
            <input type="text" class = "form-control" name = "initials" value = "" placeholder = "Initials" required>
        </div>

        <div class = "col">
            <label  for="expID"> Experiment ID</label>
            <input type="text" class = "form-control" name = "expID" value = "" placeholder = "Experiment ID" required>
        </div>

    <div class="row form-group mb-4">
        <div class = "col">
            <label  for="grid"> Grid Number</label>
            <input type="number" class = "form-control" name = "grid" value = "" placeholder = "Grid No" required>
        </div>

        <div class = "col">
            <label  for="fileName"> File Name</label>
            <input type="text" class = "form-control" name = "fileName" value = "" placeholder = "File Name" required>
        </div>

        <div class = "col">
            <label  for="status"> Status</label>
            <input type="text" class = "form-control" name = "status" value = "" placeholder = "Status" required>
        </div>
    </div>

    <div class="form-group mb-4">

        <label for="details"> Experiment Details</label>
        <textarea class="form-control" name = "details" id="details" cols = "30" rows = "12" placeholder = "Experiment Details"></textarea>
    </div>

    <div class="form-group mb-4">
        <button type="submit" class = "btn btn-primary"> Add Experiment</button>
    </div>
   


</form>